<h1 class="text-3xl font-bold mb-4"><%= @author.name %></h1>
<p><strong>Biography:</strong> <%= @author.bio %></p>

<h2 class="text-2xl font-bold mt-5">Books</h2>
<ul>
  <% @author.books.each do |book| %>
    <li><%= link_to book.title, book_path(book) %></li>
  <% end %>
</ul>

<%= link_to 'Back to Authors', authors_path %>