<h1 class="text-3xl font-bold mb-4"><%= @author.name %></h1>
<p class="mb-4">Bio: <%= @author.bio %></p>
<p class="mb-4">Books: </p>
<ul class="list-disc list-inside">
  <% @author.books.each do |book| %>
    <li><%= link_to book.title, book_path(book), class: "text-blue-600 hover:text-blue-900" %></li>
  <% end %>
</ul>