<h1>About</h1>
<h2>Welcome to my bookstore! </h2>

<%= @page.about %>
This site is your ultimate destination for literature, knowledge, and adventure. Whether you're an avid reader, a casual browser, or someone discovering the joy of books for the first time, we're here to inspire and enrich your reading journey.
<br></br>

<h2>Our Story</h2>
<%= @page.story %>
<br></br>

<h2>Our Purpose</h2>
<%= @page.purpose %>

<h2>Contact Me</h2>
<%= @page.contact %>